body.light-theme {
    background-color: #f0f0f0;
    color: #333;
}

body.dark-theme {
    background-color: #121212;
    color: #f0f0f0;
}

#text-background {
    position: fixed;
    top: calc(-50vw * sin(20deg));
    left: calc(-50vh * sin(20deg));
    width: calc(100vw + 100vh * sin(20deg));
    height: calc(100vh + 100vw * sin(20deg));
    line-height: normal;
    font-size: 64px;
    font-display: swap;
    font-weight: 700;
    overflow: hidden;
    transform: rotate(-20deg);
    transform-origin: center;
    user-select: none;
    opacity: 0;
    margin: 0 12px;
    z-index: -1;
}

#text-background.show {
    opacity: 0.05;
}

.container {
    max-width: 700px;
    margin: 80px auto;
    background-color: #ffffff;
    padding: 36px;
    border-radius: 16px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    color: #333;
    transition: box-shadow 0.3s ease, background-color 0.5s ease;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 16px;
        padding: 28px;
        width: calc(100% - 32px);
    }
}

body.dark-theme .container {
    color: #f0f0f0;
    background-color: #1e1e1e;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.1);
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}

p.intro {
    text-align: justify;
    line-height: 1.6;
}

.form-group label {
    font-weight: 600;
    padding-left: 4px;
}

.form-group input {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

body.dark-theme .form-group input {
    background-color: #333;
    border-color: #444;
    color: #f0f0f0;
}

button:focus {
    outline: none;
}

button.disabled {
    cursor: not-allowed;
}

.btn-primary {
    background-image: linear-gradient(to right, #ff512f, #dd2476);
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    border-radius: 8px;
    margin: 15px 0;
    transition: background-image 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
    background-image: linear-gradient(to right, #ff7e5f, #feb47b);
    box-shadow: 0 4px 15px rgba(255, 126, 95, 0.5);
}

body.dark-theme .btn-primary:hover {
    background-image: linear-gradient(to right, #ee3000, #d737ff);
    box-shadow: 0 4px 15px rgba(255, 126, 95, 0.5);
}

.result-container {
    margin-top: 20px;
    position: relative;
}

.result {
    display: none;
    padding: 15px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    white-space: pre-wrap;
    font-size: 16px;
    line-height: 1.7;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
    overflow: auto;
    color: inherit;
    outline: none;
}

.result:focus {
    border-color: #007bff;
}

body.dark-theme .result {
    background-color: #2e2e2e;
    border-color: #444;
    color: #f0f0f0;
}

.result.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.copy-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 4px 10px;
    border-radius: 4px;
    opacity: 0;
    font-size: 14px;
    transition: all 0.3s ease;
}

.copy-button.show {
    opacity: 0.6;
}

.copy-button:hover {
    opacity: 1;
    background-color: #0056b3;
}

.error-message,
.success-message {
    display: none;
    font-size: 14px;
    font-weight: 600;
    color: #c52f3edd;
    background-color: #ffc2c2ae;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #dc3545;
    border-radius: 8px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.success-message.success {
    color: #25973f;
    background-color: #c3e6cbc7;
    border-color: #28a745;
}

.success-message.success::before {
    content: "✓ ";
    color: #25973f;
}

.error-message.show,
.success-message.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.spinner-border {
    display: none;
}

.spinner-border.show {
    display: inline-block;
    margin-left: calc(50% - 1rem);
    margin-top: 20px;
}

#charCount {
    font-size: 14px;
    color: #666;
    margin-top: 8px;
    margin-right: 4px;
    opacity: 0;
}

body.dark-theme #charCount {
    color: #999;
}

#charCount.show {
    opacity: 1;
}

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 24px;
    line-height: 1;
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.github-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    line-height: 1;
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

body.dark-theme .github-button {
    color: #f0f0f0;
}

.github-button:hover {
    scale: 1.1;
}

.theme-toggle:hover {
    transform: rotate(20deg);
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050;
    min-width: 200px;
    opacity: 0;
    border-radius: 8px;
    transform: translateY(100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

div.or-seperator {
    margin: 20px 0 10px 0;
    text-align: center;
    font-size: 16px;
    color: #666;
}

div.or-seperator::before, div.or-seperator::after {
    content: "";
    display: inline-block;
    width: 80px;
    height: 0.5px;
    background-color: #ccc;
    vertical-align: middle;
    margin: 0 10px;
}

div.pv-container {
    margin-bottom: 8px;
    text-align: center;
}